<link rel="stylesheet" href="app/account/login/login.css">
<div class="container">
  <div class="loginDiv">
          <form class="form" name="form" ng-submit="login(form)" novalidate>
            <div class="form-group">
              <h2>Email</h2>
              <input type="email" name="email" class="form-control" ng-model="user.email" required>
            </div>
            <div class="form-group">
              <h2>Password</h2>
              <input type="password" name="password" class="form-control" ng-model="user.password" required>
            </div>
            <div class="form-group has-error">
              <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                 Please enter your email and password.
              </p>
              <p class="help-block" ng-show="form.email.$error.email && submitted">
                 Please enter a valid email.
              </p>

              <p class="help-block">{{ errors.other }}</p>
            </div>

            <div>
              <button class="btn btn-lg btn-login" type="submit">
                Login
              </button>
            </div>
          </form>
  </div>
</div>
<div id="wrapper">
<img src="assets/images/simplepickup.bmp" id="myimage"/>
</div>

