<link rel="stylesheet" href="app/main/main.css">

<div class = "container">
  <h1>Simple <b>Pickup</b></h1>
  <h3>A <b>responsive</b> web app by <b>Danny Francken</b><a no-href ng-click="logout()" id="logOut">Logout?</a></h3>
  
  <div class="row">
    <div class="col-sm-3">
      <h2><span class="glyphicon glyphicon-film"></span>&nbsp Programs <small>{{allPrograms.length}}</small></h2>
      <ul class="list-group">
        <a no-href ng-click = "newProgramEditor = true" class="list-group-item" ng-show="!newProgramEditor && role == 'admin'" id="addProgram">
          <span class="glyphicon glyphicon-plus"></span>
          &nbsp Add Program
        </a>
        <li ng-show="newProgramEditor" class="list-group-item">
          <div class="row">
            <form name="newProgramForm" class="simple-form" novalidate id="newProgramForm" ng-submit="addProgram(newProgram)">
              <div class="col-md-9">
                <div class="form-group" ng-class="{'has-error':badName && submitted}">
                  <label>Program Name:</label>
                    <input type="text" class="form-control" ng-model="newProgram.name">
                    <p ng-show="badName && submitted" class="help-block">Please enter a name</p>
                </div><!--Form-group-->
              </div><!--Col-md-7-->
              <input type="submit" class="enterBtn"/>
            </form>
            <div class="saveCancel">
              <span class="glyphicon glyphicon-ok" ng-click="addProgram(newProgram)"></span>
              &nbsp
              <span class="glyphicon glyphicon-remove " ng-click="cancelAdd()"></span>
            </div>
          </div><!--Row-->
        </li>
      </ui>
      <ul class="list-group">
        <a class="list-group-item" ng-class= "{'active':currentProgram == program}" ng-repeat="program in allPrograms track by $index" no-href ng-click="changeCurrent(program)">
          {{program.name}}
          <span class="pull-right glyphicon glyphicon-trash" ng-click="deleteProgram(program)"></span>
        </a>
      </ul>
    </div><!-- col-sm-4-->
    <div class="col-sm-9" ng-hide="currentProgram == ''">
      <h2><span class="glyphicon glyphicon-th"></span> Lessons <small>{{currentProgram.lessons.length}}</small></h2>
      <div class="row" ng-show="role == 'admin'" ui-sortable ng-model="currentProgram.lessons"> 
        <div class="col-sm-4" ng-repeat="lesson in currentProgram.lessons track by $index">
          <div class="thumbnail" >
            <div class="caption">
              <div ng-show="newLesson != lesson">
                <h4>Title: {{lesson.title}}</h4>
                <h5>Video URL:<a href = "{{lesson.url}}"> Video</a></h5>
                <p>Description: {{lesson.description}}</p>
              </div>
              <div ng-show="newLesson == lesson">
                <form id="newLessonForm" role="simple-form">
                  <div class="form-group">
                    <label class="newLessonLabel">Lesson Name</label><input type="text" class="form-control" placeholder = "Title"ng-model="newLesson.title">
                  </div>
                  <div class="form-group">
                    <label class="newLessonLabel">Video URL:</label><input type="text" class="form-control" placeholder="URL" ng-model="newLesson.url">
                  </div>
                  <div class="form-group">
                    <label class="newLessonLabel">Description:</label><textarea class="form-control" rows="4" ng-model="newLesson.description"></textarea>
                  </div>
                </form>
                <button class="btn btn-success" ng-click="saveLesson(newLesson)">Save!</button>
                <button class="btn btn-danger" ng-click="cancelLesson()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4" ng-show="newLesson == '' && role == 'admin'">
          <div class="thumbnail" id="editDiv">
              <button class="btn btn-primary" ng-click="addLesson()"><span class="glyphicon glyphicon-plus"></span> New Lesson</button><br>
              <br>
              <button class="btn btn-primary" ng-click="saveLessonOrder()"><span class="glyphicon glyphicon-th-list"></span> Save Lesson Order</button>
         </div>
        </div>
      </div><!--Row-->
<!-- Display for Non-Admin User -->
      <div class="row" ng-show="role != 'admin'" ng-model="currentProgram.lessons"> 
        <div class="col-sm-4" ng-repeat="lesson in currentProgram.lessons track by $index">
          <div class="thumbnail" >
            <div class="caption">
              <div ng-show="newLesson != lesson">
                <h4>{{lesson.title}}</h4>
                <h5>Video URL: <a ng-href="{{lesson.url}}"> Video</a></h5>
                <p>Description: {{lesson.description}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div><!--row-->
</div><!--Container-->




